---
import Form from "@/components/ui/Form.svelte";
---

<div class="py-24 px-5">
  <h2 class="font-gambarino text-5xl normal-case mb-10">
    Confirma Tu Asistencia
  </h2>
  <p class="max-w-2xl mx-auto mb-10">
    Por favor, confirma si vas a asistir a nuestra ceremonia. Así nos ayudaras a
    planificar y asegurar que todo está en su lugar.
  </p>
  <!-- <Form client:load /> -->
</div>
