<h2 class="font-gambarino text-5xl normal-case mb-10">
  Confirma tu asistencia
</h2>
<p>Por favor, confirma si vas a acompañarnos en este día.</p>
<p class="mb-10">
  Así nos ayudarás a planificar y asegurar que todo sale perfecto.
</p>
<a
  href="https://docs.google.com/forms/d/e/1FAIpQLSdPAZdClji52-nakaZcAa9EH9P933HrJovrA9gn_w-3hosQ0g/viewform?usp=header"
  target="_blank"
  rel="noopener noreferrer"
  class="border-2 uppercase border-secondary hover:bg-secondary hover:text-primary px-4 py-2 rounded-lg transition duration-300 ease-in-out font-bold"
>
  Confirmar asistencia
</a>
