---
import ImagesRotaion from "@/components/ui/ImagesRotation.astro";
import Countdown from "@/components/ui/Countdown.astro";
---

<p class="uppercase text-2xl">¡nos casamos!</p>
<h1 class="font-gambarino text-[13vw] xl:text-[11vw] my-10 md:my-0">
  María & Sergio
</h1>
<p class="text-2xl mb-5">5 septiembre 2025</p>
<p class="text-sm italic">Ceremonia:</p>
<a
  href="https://maps.app.goo.gl/kD1AAbxCrvmczwyX9"
  target="_blank"
  rel="noopener noreferrer"
  class="mb-5"
>
  Santa María la Antigua - Vicálvaro, Madrid
</a>
<p class="text-sm italic">Celebración:</p>
<a
  href="https://maps.app.goo.gl/gWKyKcXJcuqq9htu7"
  target="_blank"
  rel="noopener noreferrer"
  class=""
>
  Jardines del Negralejo - Rivas Vaciamadrid
</a>

<ImagesRotaion class="my-24 z-10" />

<h2 class="font-gambarino text-5xl normal-case mb-10">
  ¡Estamos deseando celebrar con vosotros!
</h2>
<p class="max-w-2xl mx-auto mb-2.5">
  Parecía que nunca iba a llegar, pero por fin está aquí, nuestra boda.
</p>
<p class="max-w-2xl mx-auto mb-2.5">
  Para nosotros es muy especial poder juntar a toda nuestra familia y amigos y
  disfrutar juntos.
</p>
<p class="max-w-2xl mx-auto mb-2.5">
  Estamos preparando todo para que sea un día para no olvidar, en el que
  celebrarnos a nosotros, nuestra historia y sobretodo la gran suerte que
  tenemos de estar rodeados de tanta gente a la que queremos y nos quiere.
</p>

<h3 class="font-gambarino text-3xl normal-case my-10">¡Ya no queda nada!</h3>

<Countdown />
