---
import CheckIcon from '@/components/ui/icons/CheckIcon.astro'
import Phone from '@/components/ui/Phone.astro'

const phones = [
  {
    phoneNumber: '695 62 05 78',
    description: 'María',
  },
  {
    phoneNumber: '610 46 98 75',
    description: 'Sergio',
  },
]
---

<h2 class="font-gambarino mb-10 text-5xl normal-case">Regalo</h2>
<p>Nuestro mayor regalo es disfrutar de este día con todos vosotros</p>
<p>Pero si quieres ayudarnos en nuestra etapa, podéis hacerlo en la siguiente cuenta:</p>
<button
  class="font-gambarino relative my-16 cursor-pointer text-center text-2xl transition-opacity"
  onclick="copyToClipboard()"
>
  <span
    id="iban-text"
    class="font-gambarino text-2xl opacity-100 transition-all duration-300 md:text-3xl"
  >
    ES21 2100 3189 4813 0020 4392
  </span>
  <CheckIcon
    id="check-icon"
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity duration-300"
  />
</button>

<p class="mb-5">Si tienes cualquier duda, puedes llamarnos</p>
<div class="flex items-center gap-5 md:gap-10">
  {
    phones.map(({ phoneNumber, description }) => (
      <Phone phoneNumber={phoneNumber} description={description} />
    ))
  }
</div>

<script is:inline>
  window.copyToClipboard = () => {
    const textEl = document.getElementById('iban-text')
    const iban = textEl.textContent
    const iconEl = document.getElementById('check-icon')

    navigator.clipboard.writeText(iban).then(() => {
      textEl.classList.remove('opacity-100')
      textEl.classList.add('opacity-10')
      iconEl.classList.remove('opacity-0')
      iconEl.classList.add('opacity-100')

      setTimeout(() => {
        textEl.classList.remove('opacity-10')
        textEl.classList.add('opacity-100')
        iconEl.classList.remove('opacity-100')
        iconEl.classList.add('opacity-0')
      }, 2000)
    })
  }
</script>
