<footer class="text-sm text-center pb-10">
  <p class="mb-1">
    Página creada por
    <a
      href="https://juliandepablo.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      Julián de Pablo
    </a>
  </p>
  <p>&copy; 2025 Todos los derechos reservados.</p>
</footer>
