---
import NavbarElement from './NavbarElement.astro'

const navbarElements = [
  {
    href: 'schedule',
    text: 'el gran día',
  },
  {
    href: 'present',
    text: 'regalo',
  },
  {
    href: 'faq',
    text: 'faq',
  },
]
---

<header
  class="bg-secondary fixed left-1/2 top-0 z-20 flex w-full max-w-screen-2xl -translate-x-1/2 items-center justify-between p-5 text-xs sm:text-[14px]"
>
  <div class="flex flex-1 justify-start">
    <a href="/" class="font-gambarino text-xl">M+S</a>
  </div>

  <nav class="hidden flex-none justify-center space-x-8 lg:flex">
    {navbarElements.map(({ href, text }) => <NavbarElement href={href} text={text} />)}
  </nav>

  <div class="flex flex-1 justify-end">
    <a href="/#confirmation" class="group relative uppercase">
      confirma tu asistencia
      <span
        class="absolute bottom-0 left-0 h-[1px] w-0 bg-current transition-all duration-300 group-hover:w-full"
      >
      </span>
    </a>
  </div>
</header>
