<header
  class="fixed top-0 z-20 w-full flex items-center justify-between p-5 text-[14px] bg-secondary"
>
  <div class="flex-1 flex justify-start">
    <a href="/" class="font-gambarino text-xl">M+S</a>
  </div>

  <nav class="flex flex-none space-x-8 justify-center">
    <a href="/#history">nuestra historia</a>
    <a href="/#schedule">horario</a>
    <a href="/#faq">faq</a>
  </nav>

  <div class="flex-1 flex justify-end">
    <a href="/#confirmation">confirma tu asistencia</a>
  </div>
</header>
