---
import NavbarElement from "./NavbarElement.astro";

const navbarElements = [
  {
    href: "history",
    text: "nuestra historia",
  },
  {
    href: "schedule",
    text: "horario",
  },
  {
    href: "presents",
    text: "regalos",
  },
  {
    href: "faq",
    text: "faq",
  },
];
---

<header
  class="fixed top-0 z-20 w-full flex items-center justify-between p-5 text-[14px] bg-secondary"
>
  <div class="flex-1 flex justify-start">
    <a href="/" class="font-gambarino text-xl">M+S</a>
  </div>

  <nav class="hidden lg:flex flex-none space-x-8 justify-center">
    {
      navbarElements.map(({ href, text }) => (
        <NavbarElement href={href} text={text} />
      ))
    }
  </nav>

  <div class="flex-1 flex justify-end">
    <a href="/#confirmation" class="relative group">
      confirma tu asistencia
      <span
        class="absolute left-0 bottom-0 h-[1px] w-0 bg-current transition-all duration-300 group-hover:w-full"
      >
      </span>
    </a>
  </div>
</header>
