---
const { href, text } = Astro.props;
---

<a
  href={`/#${href}`}
  class="block transition duration-400 group relative overflow-hidden uppercase"
>
  <span class="block group-hover:-translate-y-full transition-transform">
    {text}
  </span>
  <span
    class="absolute left-0 top-0 block translate-y-full group-hover:translate-y-0 transition-transform"
  >
    {text}
  </span>
</a>
