---
const { href, text } = Astro.props
---

<a
  href={`/#${href}`}
  class="duration-400 group relative block overflow-hidden uppercase transition"
>
  <span class="block transition-transform group-hover:-translate-y-full">
    {text}
  </span>
  <span
    class="absolute left-0 top-0 block translate-y-full transition-transform group-hover:translate-y-0"
  >
    {text}
  </span>
</a>
