---
const { phoneNumber, description } = Astro.props;
---

<div class="relative p-8 rounded-md bg-secondary text-primary">
  <p class="text-xs md:text-sm mb-2 italic">{description}</p>
  <p class="font-gambarino font-bold text-lg md:text-2xl">{phoneNumber}</p>
</div>
