---
const { phoneNumber, description } = Astro.props
---

<div class="bg-secondary text-primary relative rounded-md p-8">
  <p class="mb-2 text-xs italic md:text-sm">{description}</p>
  <p class="font-gambarino text-base font-bold sm:text-lg md:text-2xl">{phoneNumber}</p>
</div>
